<div class="container">
    <div class="ui-s960">
        <h1>Subheaders</h1>
        <p>{{translate.introduction}}</p>
        <ui-card class="demo">
            <ui-tab-group [accent]="true" class="fixed">
                <ui-tab label="Demo">
                    <h3 style="margin-left: 1em;">{{translate.card.exemplo}}</h3>
                    <ui-card-content>
                        <section class="separator">
                            <div class="light">
                                <ui-card-title>{{translate.card.cardComSubheader}}</ui-card-title>
                                <ui-card-content>
                                    <ui-subheader>{{translate.card.texto}}</ui-subheader>
                                    <ui-subheader class="accent">{{translate.card.textoSemSentido}}(.accent)
                                    </ui-subheader>
                                </ui-card-content>
                            </div>
                        </section>
                    </ui-card-content>
                </ui-tab>

                <ui-tab label="HTML">
                    <ngx-prism [language]="'html'">{{getHtml()}}</ngx-prism>
                </ui-tab>

                <ui-tab label="TS">
                    <ngx-prism [language]="'typescript'">// You don't need this</ngx-prism>
                </ui-tab>

                <ui-tab label="SCSS">
                    <ngx-prism [language]="'scss'">/* You don't need this */</ngx-prism>
                </ui-tab>
            </ui-tab-group>
        </ui-card>

        <h2>Classes</h2>
        <h3>ui-subheaders</h3>
        <ui-card>
            <ui-data-table>
                <tbody>
                    <tr>
                        <th style="width: 160px">Classes</th>
                        <th>{{translate.labels.function}}</th>
                    </tr>
                    <tr class="disabled" *ngFor="let item of translate.subheadersContainer?.classes">
                        <td>{{item.name}}</td>
                        <td>{{item.function}}</td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </ui-data-table>
        </ui-card>
    </div>
</div>
