@import "../../../node_modules/ng-smn-ui/lib/core/variables.scss";

:host {
    color: ui-color('grey', '700');

    .container {
        margin: 0 10px;
        cursor: default;
    }

    h1 {
        margin-top: 50px;
    }

    .focus {
        color: #000;
    }
}
