<div class="container">
    <div class="ui-s960">
        <h1>CEP Mask</h1>
        <p>A máscara de cep formata uma entrada de números no modelo 11111-111 nos inputs.</p>

        <h3>Exemplo</h3>
        <div class="separator">
            <code-gits id="oTrolado/89d3127cb0c7e15c5b366f84921e7d87"></code-gits> <!-- HTML -->
            
            <ui-input-container>
                <input type="text" uiInput uiMaskCep [(ngModel)]="cep">
                <label>CEP</label>
            </ui-input-container>
            
            {{ cep }}
        </div>
    </div>
</div>