<div class="container">
    <div class="ui-s960">
        <h1>Autocomplete</h1>
        <p>O Autocomplete permite que o usuário observe opções sobre o conteúdo relacionado ao campo.</p>
        <br>
        <div class="separator">
            <h3>Simples</h3>
            <div class="separator">
                <code-gits id="GabrielFerreir/dd086285497c3f7ccbd140f84c09eefc"></code-gits>
            </div> <!-- HTML -->
            <div class="separator">
                <code-gits id="GabrielFerreir/7116cc670c434841a8f977493f11ca80"></code-gits> <!-- JS -->
            </div> <!-- JS -->
            <div class="separator">
                <ui-input-container>
                    <input type="text"
                           [(ngModel)]="searchTeams"
                           [(modelValue)]="valueTeam"
                           uiInput
                           uiAutocomplete
                           (input)="search()"
                           (focus)="search()"
                           [list]="teamsFiltrados"
                           [loading]="loading"
                           [select]="finish.bind(this)">
                    <label>Clubes</label>
                </ui-input-container>
            </div> <!-- DEMO -->
        </div> <!-- DEMO 01 -->
        <div class="ui-divider"></div>
        <div class="separator">
            <h3>Com dois atributos</h3>
            <div class="separator">
                <code-gits id="GabrielFerreir/8c99c0aea8f0a44a9272d0a338e91537"></code-gits>
            </div> <!-- HTML -->
            <div class="separator">
                <code-gits id="GabrielFerreir/9bd63a4176311d190507983c6e7e569d"></code-gits>
            </div> <!-- JS -->
            <div class="separator">
                <ui-input-container>
                    <input type="text"
                           [(ngModel)]="searchActors"
                           [modelValue]="selectValue"
                           uiInput
                           class="accent"
                           uiAutocomplete
                           (input)="searchActor()"
                           (focus)="searchActor()"
                           [primary]="'actor'"
                           [secondary]="'character'"
                           theme-class="dark"
                           [list]="actorsFiltred"
                           [loading]="loading2">
                    <label>Personagens</label>
                </ui-input-container>
            </div> <!-- DEMO -->
        </div> <!-- DEMO 02 -->
        <div class="ui-divider"></div>
        <div class="separator">
            <h3>Com loadmore</h3>
            <div class="separator">
                <code-gits id="GabrielFerreir/d0c92388e5d5bf5e898f4b5e2ce7b50f"></code-gits>
            </div>
            <div class="separator">
                <code-gits id="GabrielFerreir/49cae5976ba4a7cb1f57b7cf8efb70f0"></code-gits>
            </div>
            <div class="separator">
                <ui-input-container>
                    <input type="text"
                           [(ngModel)]="searchObject"
                           [modelValue]="objectValue"
                           uiInput
                           uiAutocomplete
                           class="accent"
                           (input)="searchObjects()"
                           (focus)="searchObjects()"
                           (loadMore)="loadMoreObjects()"
                           [list]="objectsFiltred"
                           [loading]="loading3"
                    >
                    <label>Objetos</label>
                </ui-input-container>
            </div>
        </div> <!-- DEMO 03 -->
        <div class="ui-divider"></div>
        <ui-data-table>
            <tbody>
            <tr>
                <th>
                    Atributo
                </th>
                <th>
                    Função
                </th>
            </tr>
            <tr>
                <td>Atributo modelValue</td>
                <td>Guarda o valor do item selecionado</td>
            </tr>
            <tr>
                <td>Atributo list</td>
                <td>Array ou array de objetos que contem as opções do select</td>
            </tr>
            <tr>
                <td>loading</td>
                <td>Utilizado para controlar a barra de carregamento do select</td>
            </tr>
            <tr>
                <td>Atributo select</td>
                <td>Dispara um evento após a seleção de um item.</td>
            </tr>
            <tr>
                <td>Atributo loadMore</td>
                <td>Evento disparado quando o scroll do autocomplete chega perto do final da barra de rolagem</td>
            </tr>
            <tr>
                <td>Atributo theme-class</td>
                <td>Utilizado para definir o tema do autocomplete</td>
            </tr>
            <tr>
                <td>Atributo primary*</td>
                <td>Utilizado para definir o item principal do autocomplete</td>
            </tr>
            <tr>
                <td>secondary*</td>
                <td>Utilizado para definir o item secundario do autocomplete</td>
            </tr>
            <tr>
                <td class="align-right">*</td>
                <td>O atributo list deve ser um array de objetos</td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </ui-data-table>
        <br><br><br><br><br>
    </div>
