<div class="container">
    <div class="ui-s960">
        <h1>Card <a href="https://material.io/guidelines/components/cards.html"><i class="material-icons">link</i></a>
        </h1><br>
        <div class="separator">
            <h3>{{region.card.simple}}</h3>
            <p>
                <ui-card>
                    <br>
                    <br>
                    <br>
                </ui-card>
            </p>
            <pre>
    {{codes[0]}}
</pre>
        </div>
        <div class="separator">
            <h3>{{region.card.title}}</h3>
            <p>
                <ui-card>
                    <ui-card-title>Lorem ipsum</ui-card-title>
                    <br>
                </ui-card>
            </p>
            <pre>
    {{codes[1]}}
</pre>
        </div>
        <div class="separator">
            <h3>{{region.card.subtitle}}</h3>
            <p>
                <ui-card>
                    <ui-card-title>Lorem ipsum</ui-card-title>
                    <ui-card-subtitle>Dolor sit amet</ui-card-subtitle>
                    <br>
                </ui-card>
            </p>
            <pre>
    {{codes[2]}}
</pre>
        </div>
        <div class="separator">
            <h3>{{region.card.content}}</h3>
            <p>
                <ui-card>
                    <ui-card-title>Lorem ipsum</ui-card-title>
                    <ui-card-subtitle>Dolor sit amet</ui-card-subtitle>
                    <ui-card-content>
                        Consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita fugit illum, minus
                        nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla sint sunt totam?
                    </ui-card-content>
                </ui-card>
            </p>
            <pre>
    {{codes[3]}}
</pre>
        </div>
        <div class="separator">
            <h3>{{region.card.withButtons}}</h3>
            <p>
                <ui-card>
                    <ui-card-title>Lorem ipsum</ui-card-title>
                    <ui-card-subtitle>Dolor sit amet</ui-card-subtitle>
                    <ui-card-content>
                        Consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita fugit illum, minus
                        nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla sint sunt totam?
                    </ui-card-content>
                    <div class="ui-button-container cover">
                        <button class="ui-button flat" uiRipple>Secondary</button>
                        <button class="ui-button flat primary" uiRipple>Action</button>
                    </div>
                </ui-card>
            </p>
            <pre>
    {{codes[4]}}
</pre>
        </div>
        <div class="separator">
            <h3>{{region.card.withButtonsOnLeft}}</h3>
            <p>
                <ui-card>
                    <ui-card-title>Lorem ipsum</ui-card-title>
                    <ui-card-subtitle>Dolor sit amet</ui-card-subtitle>
                    <ui-card-content>
                        Consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita fugit illum, minus
                        nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla sint sunt totam?
                    </ui-card-content>
                    <div class="ui-button-container cover align-left">
                        <button class="ui-button flat primary" uiRipple>Action</button>
                        <button class="ui-button flat" uiRipple>Secondary</button>
                    </div>
                </ui-card>
            </p>
            <pre>
    {{codes[5]}}
</pre>
        </div>
        <div class="separator">
            <h3>{{region.card.withImage}}</h3>
            <p>
                <ui-card>
                    <img *ngIf="region.language == 'pt-br'"
                         src="https://conteudo.imguol.com.br/2012/09/25/vampeta-fala-sobre-ensaio-nu-para-a-g-magazine-1348607286095_956x500.jpg"
                         class="responsive">
                    <img *ngIf="region.language == 'en-us'"
                         src="https://assets.metrolatam.com/gt/2016/02/25/screen-shot-2016-02-24-at-7-01-32-pm-1600x800.jpg"
                         class="responsive">
                    <ui-card-title>{{region.card.imageActor}} ipsum</ui-card-title>
                    <ui-card-subtitle>Dolor sit amet</ui-card-subtitle>
                    <ui-card-content>
                        Consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita fugit illum, minus
                        nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla sint sunt totam?
                    </ui-card-content>
                    <div class="ui-button-container cover align-left">
                        <button class="ui-button flat primary" uiRipple>Action</button>
                        <button class="ui-button flat" uiRipple>Secondary</button>
                    </div>
                </ui-card>
            </p>
            <pre>
    {{codes[6]}}
</pre>
        </div>
    </div>
</div>
