<div class="container">
    <div class="ui-s960">
        <h1>Dialogs</h1>
        <p>Dialogs informam usuários a respeito de uma ação, ou informações que requerem atenção.</p>

        <h3>Dialog com trigger</h3>
        <div class="separator">
            <code-gits id="gabriel-Oak/52fab29fca60ca6305d16f164ce3b900"></code-gits> <!-- HTML -->
            <button class="ui-button raised primary" [uiDialogTrigger]="testDialog" uiRipple>Abrir Dialog</button>
        </div>

        <h3>Dialog com service</h3>
        <div class="separator">
            <p>Nota: dialogs abertos com o service só podem ser fechadas por meio do service, ou clique no overlay.</p>
            <code-gits id="gabriel-Oak/2fee6dea6cd98b85de23eed85a3d4467"></code-gits> <!-- HTML -->
            <code-gits id="gabriel-Oak/fac223582d8f0ad3512c2ccebe8187c4"></code-gits> <!-- TS -->
            <button class="ui-button raised primary" uiRipple (click)="openWithService(testDialog)">
                Abrir Dialog
            </button>
        </div>

        <h3>Dialog com sobreposição transparente</h3>
        <div class="separator">
            <code-gits id="gabriel-Oak/fa4b73f87ea06da8ad8494a2303863bb"></code-gits> <!-- HTML -->
            <button class="ui-button raised primary" [uiDialogTrigger]="testDialog" uiRipple transparent-overlay="true">
                Abrir Dialog
            </button>
        </div>

        <h3>Dialog que não fecha ao clicar fora</h3>
        <div class="separator">
            <code-gits id="gabriel-Oak/3a64e321c9fff390c17e451679342318"></code-gits> <!-- HTML -->
            <button class="ui-button raised primary" [uiDialogTrigger]="testDialog" [click-overlay-to-close]="false"
                uiRipple>
                Abrir Dialog
            </button>
        </div>

        <h3>Fechar dialog com service</h3>
        <div class="separator">
            <code-gits id="gabriel-Oak/b8c0887031b9e473319accefb5251604"></code-gits> <!-- TS -->
            <button class="ui-button raised primary" uiRipple (click)="openWithService(testDialog)">
                Abrir Dialog
            </button>
        </div>

        <ui-dialog class="teste" #testDialog card-size="400">
            <ui-card-title>Test dialog</ui-card-title>
            <iframe height="315" src="https://www.youtube.com/embed/B3eW06vMSw8" frameborder="0"
                allowfullscreen></iframe>
            <div class="ui-button-container cover">
                <button class="ui-button raised primary" uiRipple (click)="testDialog.close()">Fechar Dialog</button>
                <button class="ui-button raised primary" uiRipple (click)="closeWithService()">Fechar com
                    service</button>
            </div>
        </ui-dialog>

    </div>
</div>