<div class="container">
    <div class="ui-s960">
        <h1>Chips
            <a href="https://material.io/components/chips/" target="_blank">
                <i class="material-icons">link</i>
            </a>
        </h1>
        <p>Os chips representam entidades complexas em pequenos blocos, como um contato.</p><br>

        <ui-card class="demo">
            <ui-tab-group [accent]="true" class="fixed">
                <ui-tab label="Demo">
                    <ui-card-content>
                        <h3>Simples</h3>
                        <div class="ui-flex-container">
                            <div class="ui-chip">Test 1</div>
                            <div class="ui-chip">Test 2</div>
                            <div class="ui-chip">Test 3</div>
                        </div>

                        <h3>Com ícone</h3>
                        <div class="ui-flex-container">
                            <div class="ui-chip">
                                <div class="icon">
                                    <i class="material-icons">favorite</i>
                                </div>
                                Test 1
                            </div>
                            <div class="ui-chip">
                                <div class="icon">
                                    <i class="material-icons">favorite</i>
                                </div>
                                Test 2
                            </div>
                            <div class="ui-chip">
                                <div class="icon">
                                    <i class="material-icons">favorite</i>
                                </div>
                                Test 3
                            </div>
                        </div>

                        <h3>Com imagem</h3>
                        <div class="ui-flex-container">
                            <div class="ui-chip">
                                <div class="icon"
                                     [style.background-image]="'url(https://bit.ly/39KsI00)'">
                                </div>
                                Test 1
                            </div>
                            <div class="ui-chip">
                                <div class="icon"
                                     [style.background-image]="'url(https://bit.ly/39KsI00)'">
                                </div>
                                Test 2
                            </div>
                            <div class="ui-chip">
                                <div class="icon"
                                     [style.background-image]="'url(https://bit.ly/39KsI00)'">
                                </div>
                                Test 3
                            </div>
                        </div>

                        <h3>Com ícone de fechamento</h3>
                        <div class="ui-flex-container">
                            <div class="ui-chip">
                                Test 1
                                <div class="close ripple-rounded" uiRipple>
                                    <i class="material-icons">add_circle</i>
                                </div>
                            </div>
                            <div class="ui-chip">
                                Test 2
                                <div class="close ripple-rounded" uiRipple>
                                    <i class="material-icons">add_circle</i>
                                </div>
                            </div>
                            <div class="ui-chip">
                                Test 3
                                <div class="close ripple-rounded" uiRipple>
                                    <i class="material-icons">add_circle</i>
                                </div>
                            </div>
                        </div>
                    </ui-card-content>
                </ui-tab>

                <ui-tab label="HTML">
                    <ngx-prism [language]="'html'">HTML</ngx-prism>
                </ui-tab>

                <ui-tab label="TS">
                    <ngx-prism [language]="'typescript'">TS</ngx-prism>
                </ui-tab>

                <ui-tab label="SCSS">
                    <ngx-prism [language]="'scss'">SCSS</ngx-prism>
                </ui-tab>
            </ui-tab-group>
        </ui-card>
    </div>
</div>
