<!--
<div class="container">
    <div class="ui-s960">
        <h1>Input <a href="https://material.io/guidelines/components/buttons.html"><i
            class="material-icons">link</i></a></h1>
        <br>
        <div class="separator">
            <h3>{{region.input.simple}}</h3>
            <p>
                <ui-input-container>
                    <input type="text" [(ngModel)]="simple" uiInput>
                    <label>{{region.input.simple}}</label>
                </ui-input-container>
            </p>
            <pre>
    {{codes[0]}}
</pre>
        </div>
        <div class="separator">
            <h3>Accent</h3>
            <p [innerHtml]="region.input.accent"></p>
            <p>
                <ui-input-container>
                    <input type="text" [(ngModel)]="accent" uiInput class="accent">
                    <label>Accent</label>
                </ui-input-container>
            </p>
            <pre>
    {{codes[1]}}
</pre>
        </div>
        <div class="separator">
            <h3>Placeholder</h3>
            <p>
                <ui-input-container>
                    <input type="text" [(ngModel)]="placeholder" uiInput placeholder="Lorem ipsum">
                    <label>Placeholder</label>
                </ui-input-container>
            </p>
            <pre>
    {{codes[2]}}
</pre>
        </div>
    </div>
</div>
-->
