<div class="container">
    <div class="ui-s960">
        <h1>Subheaders</h1>
        <p>
            Subheaders fornecem informação sobre uma seção.
        </p>

        <h3>Exemplos:</h3>
        <section class="separator">
            <code-gits id="oTrolado/dbc695dbd6f2004127ad33073f299a11"></code-gits> <!-- HTML -->
            <div class="light">
                <ui-card>
                    <ui-card-title>Card com Subheader</ui-card-title>
                    <ui-card-content>
                        <ui-subheader>Cadastro de usuário</ui-subheader>
                        Dolor sit amet
                        <ui-subheader class="primary">Filiação (.primary)</ui-subheader>
                        Lorem ipsum
                    </ui-card-content>
                </ui-card>
            </div>

            <div class="dark">
                <ui-card>
                    <ui-card-title>Card com Subheader (dark)</ui-card-title>
                    <ui-card-content>
                        <ui-subheader>Um texto sem sentido abaixo</ui-subheader>
                        Dolor sit amet
                        <ui-subheader class="accent">Outro aqui (.accent)</ui-subheader>
                        Lorem ipsum
                    </ui-card-content>
                </ui-card>
            </div>
        </section>
    </div>
</div>