<div class="container">
    <div class="ui-s960">
        <h1>Dividers</h1>
        <p>{{translate.introduction}}</p>

        <ui-card class="demo">
            <ui-tab-group [accent]="true" class="fixed">
                <ui-tab label="Demo">
                    <ui-card-content>
                        <h3 style="margin-left: 1em;">{{translate.card.exemplo}}</h3>
                        <div class="separator">
                            <div class="light">
                                <ui-card-content>
                                    <div class="ui-list">
                                        <a class="ui-list-item" uiRipple>Item 1</a>
                                        <div class="ui-divider"></div>
                                        <a class="ui-list-item" uiRipple>Item 2</a>
                                    </div>
                                </ui-card-content>
                            </div>
                        </div>
                    </ui-card-content>
                </ui-tab>
                <ui-tab label="HTML">
                    <ngx-prism [language]="'html'">{{getHtml()}}</ngx-prism>
                </ui-tab>

                <ui-tab label="TS">
                    <ngx-prism [language]="'typescript'">// You don't need this</ngx-prism>
                </ui-tab>

                <ui-tab label="SCSS">
                    <ngx-prism [language]="'scss'">/* You don't need this */</ngx-prism>
                </ui-tab>
            </ui-tab-group>
        </ui-card>

        <h2>API</h2>
        <ui-card>
            <ui-data-table>
                <tbody>
                    <tr>
                        <th style="width: 160px">{{translate.labels.attribute}}</th>
                        <th>{{translate.labels.function}}</th>
                    </tr>
                    <tr class="disabled" *ngFor="let item of translate.api?.attributes">
                        <td>{{item.attribute}}</td>
                        <td>{{item.function}}</td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </ui-data-table>
        </ui-card>

        <h2>Classes</h2>
        <ui-card>
            <ui-data-table>
                <tbody>
                    <tr>
                        <th style="width: 160px">Classes</th>
                        <th>{{translate.labels.function}}</th>
                    </tr>
                    <tr class="disabled" *ngFor="let item of translate.dividers?.classes">
                        <td>{{item.name}}</td>
                        <td>{{item.function}}</td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </ui-data-table>
        </ui-card>
    </div>
</div>
