<ui-toolbar class="fixed flat elevate-on-scroll primary elevate-on-s960" id="app-header">
    <button (click)="menuOpen = true" class="ui-button flat icon" uiRipple>
        <i class="material-icons">menu</i>
    </button>
    <a routerLink="/" class="logo">
        <img src="http://smn.com.br/content/img/logotipo/dark-lying.svg"
             alt="">
    </a>
    <span class="title" [class.hidden]="menuOpen">{{title}}</span>
    <div class="align-right">
        <a class="ui-button flat icon" uiRipple href="https://www.npmjs.com/package/ng-smn-ui" target="_blank">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#FFF"
                      d="M4,10V14H6V11H7V14H8V10H4M9,10V15H11V14H13V10H9M12,11V13H11V11H12M14,10V14H16V11H17V14H18V11H19V14H20V10H14M3,9H21V15H12V16H8V15H3V9Z"/>
            </svg>
        </a>
        <a class="ui-button flat icon" uiRipple href="https://github.com/smn-official/ng-smn-ui" target="_blank">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#FFF"
                      d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"/>
            </svg>
        </a>
        <button class="ui-button flat icon" uiRipple [uiMenuTrigger]="menuLanguage" align="right">
            <i class="material-icons">language</i>
        </button>
    </div>
</ui-toolbar>

<ui-nav-drawer class="persistent" [(open)]="menuOpen">
    <ui-toolbar class="flat">
        <button (click)="menuOpen = false" class="ui-button flat icon" uiRipple>
            <i class="material-icons">arrow_back</i>
        </button>
        <a routerLink="/" class="logo">
            <img src="http://smn.com.br/content/img/logotipo/light-lying.svg"
                 alt="">
        </a>
        <!--<span class="title">{{title}}</span>-->
    </ui-toolbar>
    <div class="ui-nav-drawer-overflow">
        <div class="ui-list">
            <a class="ui-list-item" uiRipple routerLink="/" [routerLinkActive]="['active']"
               [routerLinkActiveOptions]="{ exact: true }">{{region.menu.index}}</a>
            <div class="ui-list-item" uiRipple [uiListItem]="componentes">
                {{region.menu.components}}
                <span class="arrow"><i class="material-icons">keyboard_arrow_down</i></span>
            </div>
            <div class="ui-list-item-group" #componentes>
                <a class="ui-list-item" uiRipple routerLink="/autocomplete" [routerLinkActive]="['active']">Autocomplete</a>
                <a class="ui-list-item" uiRipple routerLink="/avatar" [routerLinkActive]="['active']">Avatar</a>
                <a class="ui-list-item" uiRipple routerLink="/bottom-sheets" [routerLinkActive]="['active']">Bottom sheets</a>
                <div class="ui-list-item" uiRipple [uiListItem]="buttons">
                    Buttons
                    <span class="arrow"><i class="material-icons">keyboard_arrow_down</i></span>
                </div>
                <div class="ui-list-item-group" #buttons>
                    <a class="ui-list-item" uiRipple routerLink="/button" [routerLinkActive]="['active']">Buttons</a>
                    <a class="ui-list-item" uiRipple routerLink="/fab" [routerLinkActive]="['active']">Floating Action Button</a>
                </div>
                <a class="ui-list-item" uiRipple routerLink="/card" [routerLinkActive]="['active']">Cards</a>
                <a class="ui-list-item" uiRipple routerLink="/chips" [routerLinkActive]="['active']">Chips</a>
                <a class="ui-list-item" uiRipple routerLink="/clock" [routerLinkActive]="['active']">Clocks</a>
                <a class="ui-list-item" uiRipple routerLink="/color-pickers" [routerLinkActive]="['active']">Color pickers</a>
                <a class="ui-list-item" uiRipple routerLink="/data-tables" [routerLinkActive]="['active']">Data tables</a>
                <a class="ui-list-item" uiRipple routerLink="/dialogs" [routerLinkActive]="['active']">Dialogs</a>
                <a class="ui-list-item" uiRipple routerLink="/dividers" [routerLinkActive]="['active']">Dividers</a>
                <a class="ui-list-item" uiRipple routerLink="/flex-container" [routerLinkActive]="['active']">Flex container</a>
                <a class="ui-list-item" uiRipple routerLink="/infinite-load" [routerLinkActive]="['active']">Infinite load</a>
                <a class="ui-list-item" uiRipple routerLink="/inputs" [routerLinkActive]="['active']">Inputs</a>
                <a class="ui-list-item" uiRipple routerLink="/files" [routerLinkActive]="['active']">Input files</a>
                <a class="ui-list-item" uiRipple routerLink="/lists" [routerLinkActive]="['active']">Lists</a>
                <a class="ui-list-item" uiRipple routerLink="/navigation-drawer" [routerLinkActive]="['active']">Navigation drawer</a>
                <a class="ui-list-item" uiRipple routerLink="/progress" [routerLinkActive]="['active']">Progress & activity</a>
                <a class="ui-list-item" uiRipple routerLink="/selects" [routerLinkActive]="['active']">Selects</a>
                <a class="ui-list-item" uiRipple routerLink="/selection-controls" [routerLinkActive]="['active']">Selection controls</a>
                <a class="ui-list-item" uiRipple routerLink="/sliders" [routerLinkActive]="['active']">Sliders(Doing)</a>
                <a class="ui-list-item" uiRipple routerLink="/smart-list" [routerLinkActive]="['active']">Smart list</a>
                <a class="ui-list-item" uiRipple routerLink="/toolbars" [routerLinkActive]="['active']">Toolbars</a>
                <a class="ui-list-item" uiRipple routerLink="/snackbars-toasts" [routerLinkActive]="['active']">Snackbars & toasts(To do)</a>
                <a class="ui-list-item" uiRipple routerLink="/subheaders" [routerLinkActive]="['active']">Subheaders(To do)</a>
                <div>
                    <div class="ui-list-item" uiRipple [uiListItem]="tabsPages">
                        Tabs / Pages(To do)
                        <span class="arrow"><i class="material-icons">keyboard_arrow_down</i></span>
                    </div>
                    <div class="ui-list-item-group" #tabsPages>
                        <a class="ui-list-item" uiRipple routerLink="/tabs" [routerLinkActive]="['active']">Tabs</a>
                        <a class="ui-list-item" uiRipple routerLink="/pages" [routerLinkActive]="['active']">
                            Pages
                        </a>
                        <a class="ui-list-item" uiRipple routerLink="/tabs-pages" [routerLinkActive]="['active']">
                            Tabs & Pages
                        </a>
                    </div>
                </div>
                <a class="ui-list-item" uiRipple routerLink="/time-pickers" [routerLinkActive]="['active']">Time pirckers(To do)</a>
                

            </div>
            <a class="ui-list-item" uiRipple routerLink="/scss" [routerLinkActive]="['active']">SCSS(To do)</a>
            <div class="ui-list-item" uiRipple [uiListItem]="masks">
                Masks (To do)
                <span class="arrow"><i class="material-icons">keyboard_arrow_down</i></span>
            </div>
            <div class="ui-list-item-group" #masks>
                <a class="ui-list-item" uiRipple routerLink="/mask-cep" [routerLinkActive]="['active']">CEP</a>
                <a class="ui-list-item" uiRipple routerLink="/mask-cnpj" [routerLinkActive]="['active']">CNPJ</a>
                <a class="ui-list-item" uiRipple routerLink="/mask-cpf" [routerLinkActive]="['active']">CPF</a>
                <a class="ui-list-item" uiRipple routerLink="/mask-currency" [routerLinkActive]="['active']">Currency</a>
                <a class="ui-list-item" uiRipple routerLink="/mask-date" [routerLinkActive]="['active']">Date</a>
                <a class="ui-list-item" uiRipple routerLink="/mask-float" [routerLinkActive]="['active']">Float</a>
                <a class="ui-list-item" uiRipple routerLink="/mask-integer" [routerLinkActive]="['active']">Integer</a>
                <a class="ui-list-item" uiRipple routerLink="/mask-phone" [routerLinkActive]="['active']">Phone</a>
                <a class="ui-list-item" uiRipple routerLink="/mask-time" [routerLinkActive]="['active']">Time</a>
            </div>
            <div class="ui-list-item" uiRipple [uiListItem]="pipe">
                Pipes (To do)
                <span class="arrow"><i class="material-icons">keyboard_arrow_down</i></span>
            </div>
            <div class="ui-list-item-group" #pipe>
                <a class="ui-list-item" uiRipple routerLink="/pipe-capitalize" [routerLinkActive]="['active']">Capitalize</a>
                <a class="ui-list-item" uiRipple routerLink="/pipe-filter" [routerLinkActive]="['active']">Filter</a>
                <a class="ui-list-item" uiRipple routerLink="/pipe-time-ago" [routerLinkActive]="['active']">Time ago</a>
            </div>
            <div class="ui-list-item" uiRipple [uiListItem]="providers">
                Providers (To do)
                <span class="arrow"><i class="material-icons">keyboard_arrow_down</i></span>
            </div>
            <div class="ui-list-item-group" #providers>
                <a class="ui-list-item" uiRipple routerLink="/provider-color" [routerLinkActive]="['active']">Color</a>
                <a class="ui-list-item" uiRipple routerLink="/provider-cookie" [routerLinkActive]="['active']">Cookie</a>
                <a class="ui-list-item" uiRipple routerLink="/provider-element" [routerLinkActive]="['active']">Element</a>
                <a class="ui-list-item" uiRipple routerLink="/provider-element-ref" [routerLinkActive]="['active']">Element ref</a>
                <a class="ui-list-item" uiRipple routerLink="/provider-window" [routerLinkActive]="['active']">Window</a>
            </div>
            <div class="ui-list-item" uiRipple [uiListItem]="validators">
                Validators (To do)
                <span class="arrow"><i class="material-icons">keyboard_arrow_down</i></span>
            </div>
            <div class="ui-list-item-group" #validators>
                <a class="ui-list-item" uiRipple routerLink="/provider-color" [routerLinkActive]="['active']">Maxlength</a>
                <a class="ui-list-item" uiRipple routerLink="/provider-cookie" [routerLinkActive]="['active']">Required</a>
            </div>
        </div>
    </div>
    <!---->
</ui-nav-drawer>

<router-outlet></router-outlet>

<ui-menu #menuLanguage>
    <div class="ui-menu-content size-2x">
        <div class="ui-menu-item" uiRipple (click)="changeRegion('pt-br')">
            <i class="icon material-icons" [style.visibility]="this.region.language == 'en-us' ? 'hidden' : ''">done</i>
            {{this.region.languages.portuguese}}
        </div>
        <div class="ui-menu-item" uiRipple (click)="changeRegion('en-us')">
            <i class="icon material-icons" [style.visibility]="this.region.language == 'pt-br' ? 'hidden' : ''">done</i>
            {{this.region.languages.english}}
        </div>
    </div>
</ui-menu>
