<ui-toolbar class="fixed flat elevate-on-scroll primary elevate-on-s960" id="app-header">
    <button (click)="menuOpen = true" class="ui-button flat icon" uiRipple>
        <i class="material-icons">menu</i>
    </button>
    <a routerLink="/" class="logo">
        <img src="http://smn.com.br/content/img/logotipo/dark-lying.svg"
             alt="">
    </a>
    <span class="title" [class.hidden]="menuOpen">{{title}}</span>
    <div class="align-right">
        <a class="ui-button flat icon" uiRipple href="https://www.npmjs.com/package/ng-smn-ui" target="_blank">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#FFF"
                      d="M4,10V14H6V11H7V14H8V10H4M9,10V15H11V14H13V10H9M12,11V13H11V11H12M14,10V14H16V11H17V14H18V11H19V14H20V10H14M3,9H21V15H12V16H8V15H3V9Z"/>
            </svg>
        </a>
        <a class="ui-button flat icon" uiRipple href="https://github.com/smn-official/ng-smn-ui" target="_blank">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#FFF"
                      d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"/>
            </svg>
        </a>
        <button class="ui-button flat icon" uiRipple [uiMenuTrigger]="menuLanguage" align="right">
            <i class="material-icons">language</i>
        </button>
    </div>
</ui-toolbar>

<ui-nav-drawer class="persistent" [(open)]="menuOpen">
    <ui-toolbar class="flat">
        <button (click)="menuOpen = false" class="ui-button flat icon" uiRipple>
            <i class="material-icons">arrow_back</i>
        </button>
        <a routerLink="/" class="logo">
            <img src="http://smn.com.br/content/img/logotipo/light-lying.svg"
                 alt="">
        </a>
        <!--<span class="title">{{title}}</span>-->
    </ui-toolbar>
    <div class="ui-nav-drawer-overflow">
        <div class="ui-list">
            <a class="ui-list-item" uiRipple routerLink="/" [routerLinkActive]="['active']"
               [routerLinkActiveOptions]="{ exact: true }">{{region.menu.index}}</a>
            <div class="ui-list-item" uiRipple [uiListItem]="componentes">
                {{region.menu.components}}
                <span class="arrow"><i class="material-icons">keyboard_arrow_right</i></span>
            </div>
            <div class="ui-list-item-group" #componentes>
                <a class="ui-list-item" uiRipple routerLink="/button" [routerLinkActive]="['active']">Button</a>
                <a class="ui-list-item" uiRipple routerLink="/card" [routerLinkActive]="['active']">Card</a>
                <a class="ui-list-item" uiRipple routerLink="/fab" [routerLinkActive]="['active']">Floating Action
                    Button</a>
                <!--<a class="ui-list-item" uiRipple routerLink="/input" [routerLinkActive]="['active']">Input</a>-->
            </div>
            <!--<a class="ui-list-item" uiRipple routerLink="/buttons">Buttons</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/cards">Cards</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/data-tables">Data tables</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/date-pickers">Date pickers</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/dialog">Dialog</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/dividers">Dividers</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/inputs">Inputs</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/layout">Layout</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/masks">Masks</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/menus">Menus</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/nav-drawer">Navigation drawer</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/progress">Progress & activity</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/selection-controls">Selection controls</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/smart-list">Smart list</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/snackbars">Snackbars & toasts</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/subheader">Subheader</a>-->
            <!--<a class="ui-list-item" uiRipple routerLink="/toolbars">Toolbars</a>-->
        </div>
    </div>
</ui-nav-drawer>

<router-outlet></router-outlet>

<ui-menu #menuLanguage>
    <div class="ui-menu-content size-2x">
        <div class="ui-menu-item" uiRipple (click)="changeRegion('pt-br')">
            <i class="icon material-icons" [style.visibility]="this.region.language == 'en-us' ? 'hidden' : ''">done</i>
            {{this.region.languages.portuguese}}
        </div>
        <div class="ui-menu-item" uiRipple (click)="changeRegion('en-us')">
            <i class="icon material-icons" [style.visibility]="this.region.language == 'pt-br' ? 'hidden' : ''">done</i>
            {{this.region.languages.english}}
        </div>
    </div>
</ui-menu>
