@import "~ng-smn-ui/core/core";
@import "~ng-smn-ui/core/theme";

$primary: (color: 'blue-grey', hue: '900');
$accent: (color: 'blue', hue: '500');

$theme: ui-theme($primary, $accent);
$theme-dark: ui-theme($primary, $accent, true);

@include ui-core();

@include ui-build-theme($theme);

.dark {
    @include ui-build-theme($theme-dark);
}

.light {
    @include ui-build-theme($theme);
}
