@import 'app.theme';

a {
    color: map_get($theme, accent-color);
}

header .title {
    transition: opacity 280ms ui-easing('deceleration');

    &.hidden {
        opacity: 0;
    }
}

pre {
    padding: 20px 8px 8px 8px;
    background-color: #CDCDCD;
}
h1, h2, h3 {
    padding: 8px;
}
