<div class="container">
    <div class="ui-s960">
        <h1>Button <a href="https://material.io/guidelines/components/buttons.html"><i class="material-icons">link</i></a></h1>
        <br>
        <div class="a harator">
            <h3>Padrão</h3>
            <p>
                <button class="ui-button">Padrão</button>
            </p>
            <pre>
                {{codes[0]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Com ripple</h3>
            <p>
                <button class="ui-button" uiRipple>Com ripple</button>
            </p>
            <pre>
                {{codes[1]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Raised</h3>
            <p>
                <button class="ui-button raised" uiRipple>Raised</button>
            </p>
            <pre>
                {{codes[2]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Flat</h3>
            <p>
                <button class="ui-button flat" uiRipple>Flat</button>
            </p>
            <pre>
                {{codes[3]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Icon</h3>
            <p>
                <button class="ui-button icon" uiRipple>
                    <i class="material-icons">delete</i>
                </button>
            </p>
            <pre>
                {{codes[9]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Icon com badge</h3>
            <p>
                <button class="ui-button flat icon" uiRipple>
                    <i class="material-icons">notifications</i>
                    <span class="badge">1</span>
                </button>
            </p>
            <pre>
                {{codes[10]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Full</h3>
            <p>
                <button class="ui-button full" uiRipple>Full</button>
            </p>
            <pre>
                {{codes[4]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Primary</h3>
            <p>Acompanha a cor <b>primary</b> do tema do projeto.</p>
            <p>
                <button class="ui-button primary" uiRipple>Primary</button>
            </p>
            <pre>
                {{codes[5]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Accent</h3>
            <p>Acompanha a cor <b>accent</b> do tema do projeto.</p>
            <p>
                <button class="ui-button accent" uiRipple>Accent</button>
            </p>
            <pre>
                {{codes[6]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Success</h3>
            <p>É sempre a cor <b>green</b> para identificar sucesso.</p>
            <p>
                <button class="ui-button success" uiRipple>Success</button>
            </p>
            <pre>
                {{codes[11]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Warning</h3>
            <p>É sempre a cor <b>orange</b> para identificar aviso.</p>
            <p>
                <button class="ui-button warning" uiRipple>Warning</button>
            </p>
            <pre>
                {{codes[7]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Error</h3>
            <p>É sempre a cor <b>red</b> para identificar erro.</p>
            <p>
                <button class="ui-button error" uiRipple>Error</button>
            </p>
            <pre>
                {{codes[8]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Demos</h3><br>
            <div class="ui-button-container">
                <button class="ui-button" uiRipple>Default</button>
                <button class="ui-button primary" uiRipple>Primary</button>
                <button class="ui-button accent" uiRipple>Accent</button>
                <button class="ui-button success" uiRipple>Success</button>
                <button class="ui-button warning" uiRipple>Warning</button>
                <button class="ui-button error" uiRipple>Error</button>
                <button class="ui-button" uiRipple disabled>Disabled</button>
            </div>
            <div class="ui-button-container">
                <button class="ui-button raised" uiRipple>Raised</button>
                <button class="ui-button raised primary" uiRipple>Raised Primary</button>
                <button class="ui-button raised accent" uiRipple>Raised Accent</button>
                <button class="ui-button raised success" uiRipple>Raised Success</button>
                <button class="ui-button raised warning" uiRipple>Raised Warning</button>
                <button class="ui-button raised error" uiRipple>Raised Error</button>
                <button class="ui-button raised" uiRipple disabled>Raised Disabled</button>
            </div>
            <div class="ui-button-container">
                <button class="ui-button flat" uiRipple>Flat</button>
                <button class="ui-button flat primary" uiRipple>Flat Primary</button>
                <button class="ui-button flat accent" uiRipple>Flat Accent</button>
                <button class="ui-button flat success" uiRipple>Flat Success</button>
                <button class="ui-button flat warning" uiRipple>Flat Warning</button>
                <button class="ui-button flat error" uiRipple>Flat Error</button>
                <button class="ui-button flat" uiRipple disabled>Flat Disabled</button>
            </div>
            <div class="ui-button-container">
                <button class="ui-button full" uiRipple>Full</button>
            </div>
            <div class="ui-button-container">
                <button class="ui-button primary icon" uiRipple>
                    <i class="material-icons">delete</i>
                </button>
                <button class="ui-button primary raised icon" uiRipple>
                    <i class="material-icons">delete</i>
                </button>
                <button class="ui-button primary flat icon" uiRipple>
                    <i class="material-icons">delete</i>
                </button>
                <button class="ui-button primary flat icon" uiRipple>
                    <i class="material-icons">notifications</i>
                    <span class="badge">1</span>
                </button>
                <button class="ui-button flat icon" uiRipple disabled>
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    </div>
</div>
<!---->
