<div class="container">
    <div class="ui-s960">
        <h1>Card <a href="https://material.io/guidelines/components/cards.html"><i class="material-icons">link</i></a>
        </h1>
        <p>{{translate.introduction}}</p>
        <br>
        <div class="separator">


            <ui-card class="demo">
                <ui-tab-group [accent]="true" class="fixed">
                    <ui-tab label="Demo">
                        <ui-card-content>
                            <h3>{{translate.card.simple}}</h3>
                            <ui-card class="ui-flex-container break-on-s480" style="padding: 16px;">Simple card
                            </ui-card>

                            <div class="separator">
                                <h3>{{translate.card.content}}</h3>
                                <ui-card>
                                    <ui-card-title>Lorem ipsum</ui-card-title>
                                    <ui-card-subtitle>Dolor sit amet</ui-card-subtitle>
                                    <ui-card-content>
                                        Consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita fugit
                                        illum, minus
                                        nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla
                                        sint sunt totam?
                                    </ui-card-content>
                                </ui-card>
                            </div>

                            <div class="separator">
                                <h3>{{translate.card.withButtons}}</h3>

                                <ui-card>
                                    <ui-card-title>Lorem ipsum</ui-card-title>
                                    <ui-card-subtitle>Dolor sit amet</ui-card-subtitle>
                                    <ui-card-content>
                                        Consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita
                                        fugit illum, minus
                                        nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto
                                        nulla sint sunt totam?
                                    </ui-card-content>
                                    <div class="ui-button-container cover">
                                        <button class="ui-button flat" uiRipple>Secondary</button>
                                        <button class="ui-button flat primary" uiRipple>Action</button>
                                    </div>
                                </ui-card>
                            </div>

                            <div class="separator">
                                <h3>{{translate.card.withButtonsOnLeft}}</h3>
                                <ui-card>
                                    <ui-card-title>Lorem ipsum</ui-card-title>
                                    <ui-card-subtitle>Dolor sit amet</ui-card-subtitle>
                                    <ui-card-content>
                                        Consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita fugit
                                        illum, minus
                                        nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla
                                        sint sunt totam?
                                    </ui-card-content>
                                    <div class="ui-button-container cover align-left">
                                        <button class="ui-button flat primary" uiRipple>Action</button>
                                        <button class="ui-button flat" uiRipple>Secondary</button>
                                    </div>
                                </ui-card>
                            </div>

                            <div class="separator">
                                <h3>{{translate.card.withImage}}</h3>
                                <ui-card>
                                    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        class="responsive">
                                    <ui-card-title>{{region.card.imageActor}}</ui-card-title>
                                    <ui-card-subtitle>Dolor sit amet</ui-card-subtitle>
                                    <ui-card-content>
                                        Consectetur adipisicing elit. Accusamus aperiam deserunt dolore expedita fugit
                                        illum, minus
                                        nihil obcaecati pariatur porro quibusdam tempore totam ut. Deleniti iusto nulla
                                        sint sunt totam?
                                    </ui-card-content>
                                    <div class="ui-button-container cover align-left">
                                        <button class="ui-button flat primary" uiRipple>Action</button>
                                        <button class="ui-button flat" uiRipple>Secondary</button>
                                    </div>
                                </ui-card>
                            </div>

                        </ui-card-content>
                    </ui-tab>

                    <ui-tab label="HTML">
                        <ngx-prism [language]="'html'">{{getHtml()}}</ngx-prism>
                    </ui-tab>

                    <ui-tab label="TS">
                        <ngx-prism [language]="'typescript'">// You don't need this</ngx-prism>
                    </ui-tab>

                    <ui-tab label="SCSS">
                        <ngx-prism [language]="'scss'">/* You don't need this */</ngx-prism>
                    </ui-tab>
                </ui-tab-group>
            </ui-card>

        </div>
        <div class="separator">
            <h2>API</h2>

            <ui-card>
                <ui-data-table>
                    <tbody>
                        <tr>
                            <th style="width: 160px">Classes</th>
                            <th>{{translate.labels.function}}</th>
                        </tr>
                        <tr class="disabled" *ngFor="let item of translate.cardContainer?.classes">
                            <td>{{item.name}}</td>
                            <td>{{item.function}}</td>
                        </tr>
                    </tbody>
                    <tfoot></tfoot>
                </ui-data-table>
            </ui-card>
        </div>
    </div>
</div>
