<div class="container">
    <div class="ui-s960">
        <h1>Date Mask</h1>
        <p>Adiciona uma máscara de data ao campo, e converta a saida para uma string de data. </p>

        <h3>Exemplo</h3>
        <p>Aceita [minDate] e [maxDate] como parâmetro do tipo data, ele estipula uma data mínima e máxima para que o campo seja válido.</p>
        <p>[dateFormat] informa qual o formado de data a ser adotado, padrão 'dd/MM/yyyy'</p>
        <div class="separator">
            <code-gits id="oTrolado/e9501d93c88d06896df462ea7bafba9e"></code-gits> <!-- HTML -->

            <ui-input-container>
                <input type="text" uiInput uiMaskDate [(ngModel)]="data">
                <label>Data</label>
            </ui-input-container>

            {{ data }}
        </div>
    </div>
</div>