<div class="container">
    <div class="ui-s960">
        <h1>Floating Action Button <a
            href="https://material.io/guidelines/components/buttons-floating-action-button.html"><i
            class="material-icons">link</i></a></h1>
        <p>Botão flutuante utilizado normalmente para realizar a ação principal da página.</p>
        <br>

        <div class="separator">
            <h3>Normal</h3>
            <p>
                <button class="ui-button primary fab" uiRipple>
                    <i class="material-icons">add</i>
                </button>
            </p>
            <code-gits id="GabrielFerreir/1fda4c7ec72050420e9c79a1fd4baf4b"></code-gits>

        </div>

        <div class="separator">
            <h3>Mini</h3>
            <p>
                <button class="ui-button accent fab mini" uiRipple>
                    <i class="material-icons">check</i>
                </button>
            </p>
            <code-gits id="GabrielFerreir/b165863dfb25a5bd491f177706df3a31"></code-gits>
        </div>

        <div class="separator">
            <h3>{{region.fab.withLoading}}</h3>
            <p>
                <button class="ui-button success fab" uiRipple>
                    <ui-progress-radial class="indeterminate"></ui-progress-radial>
                    <i class="material-icons">check</i>
                </button>
            </p>
            <code-gits id="GabrielFerreir/68f38b3e3053c153371e51ec4e01848c"></code-gits>
        </div>
        <div class="separator">
            <h3>{{region.fab.fixedTitle}}</h3>
            <p>{{region.fab.fixedSubtitle}}</p>
            <p></p>
            <code-gits id="GabrielFerreir/4e363a248d184f374494bd02854818ac"></code-gits>
        </div>
    </div>
</div>

<div class="ui-fab-container">
    <button class="ui-button accent fab mini" uiRipple>
        <i class="material-icons">check</i>
    </button>
    <button class="ui-button primary fab" uiRipple>
        <i class="material-icons">add</i>
    </button>
</div>
