<div class="container">
    <div class="ui-s960">
        <h1>Floating Action Button <a
            href="https://material.io/guidelines/components/buttons-floating-action-button.html"><i
            class="material-icons">link</i></a></h1>
        <br>
        <div class="separator">
            <h3>Normal</h3>
            <p>
                <button class="ui-button primary fab" uiRipple>
                    <i class="material-icons">add</i>
                </button>
            </p>
            <pre>
                {{codes[0]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Mini</h3>
            <p>
                <button class="ui-button accent fab mini" uiRipple>
                    <i class="material-icons">check</i>
                </button>
            </p>
            <pre>
                {{codes[1]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Com loading</h3>
            <p>
                <button class="ui-button success fab" uiRipple>
                    <ui-progress-radial class="indeterminate"></ui-progress-radial>
                    <i class="material-icons">check</i>
                </button>
            </p>
            <pre>
                {{codes[3]}}
            </pre>
        </div>
        <div class="separator">
            <h3>Fixo no canto inferior direito</h3>
            <p>(o exemplo se encontra fixo no canto inferior direito)</p>
            <p></p>
            <pre>
                {{codes[2]}}
            </pre>
        </div>
    </div>
</div>
<!---->

<div class="ui-fab-container">
    <button class="ui-button accent fab mini" uiRipple>
        <i class="material-icons">check</i>
    </button>
    <button class="ui-button primary fab" uiRipple>
        <i class="material-icons">add</i>
    </button>
</div>
