<div class="container">
    <div class="ui-s960">
        <h1>
            Button
            <a href="https://material.io/components/buttons/" target="_blank">
                <i class="material-icons">link</i>
            </a>
        </h1>
        <p>{{translate.introduction}}</p>

        <ui-card class="demo">
            <ui-tab-group [accent]="true" class="fixed">
                <ui-tab label="Demo">
                    <ui-card-content>
                        <h3>Normal</h3>
                        <div class="ui-button-container">
                            <button class="ui-button" uiRipple>Default</button>
                            <button class="ui-button primary" uiRipple>Primary</button>
                            <button class="ui-button accent" uiRipple>Accent</button>
                            <button class="ui-button success" uiRipple>Success</button>
                            <button class="ui-button warning" uiRipple>Warning</button>
                            <button class="ui-button error" uiRipple>Error</button>
                            <button class="ui-button" uiRipple disabled>Disabled</button>
                        </div>

                        <h3>Raised</h3>
                        <div class="ui-button-container">
                            <button class="ui-button raised" uiRipple>Raised</button>
                            <button class="ui-button raised primary" uiRipple>Primary</button>
                            <button class="ui-button raised accent" uiRipple>Accent</button>
                            <button class="ui-button raised success" uiRipple>Success</button>
                            <button class="ui-button raised warning" uiRipple>Warning</button>
                            <button class="ui-button raised error" uiRipple>Error</button>
                            <button class="ui-button raised" uiRipple disabled>Disabled</button>
                        </div>

                        <h3>Flat</h3>
                        <div class="ui-button-container">
                            <button class="ui-button flat" uiRipple>Flat</button>
                            <button class="ui-button flat primary" uiRipple>Primary</button>
                            <button class="ui-button flat accent" uiRipple>Accent</button>
                            <button class="ui-button flat success" uiRipple>Success</button>
                            <button class="ui-button flat warning" uiRipple>Warning</button>
                            <button class="ui-button flat error" uiRipple>Error</button>
                            <button class="ui-button flat" uiRipple disabled>Disabled</button>
                        </div>

                        <h3>Full</h3>
                        <div class="ui-button-container">
                            <button class="ui-button full primary" uiRipple>Full</button>
                        </div>

                        <h3>Icon</h3>
                        <div class="ui-button-container">
                            <button class="ui-button error icon" uiRipple>
                                <i class="material-icons">favorite</i>
                            </button>
                            <button class="ui-button accent raised icon" uiRipple>
                                <i class="material-icons">stars</i>
                            </button>
                            <button class="ui-button primary flat icon" uiRipple>
                                <i class="material-icons">code</i>
                            </button>
                            <button class="ui-button primary flat icon" uiRipple>
                                <i class="material-icons">notifications</i>
                                <span class="badge">1</span>
                            </button>
                            <button class="ui-button flat icon" uiRipple disabled>
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </ui-card-content>
                </ui-tab>

                <ui-tab label="HTML">
                    <ngx-prism [language]="'html'">{{getHtml()}}</ngx-prism>
                </ui-tab>

                <ui-tab label="TS">
                    <ngx-prism [language]="'typescript'">// You don't need this</ngx-prism>
                </ui-tab>

                <ui-tab label="SCSS">
                    <ngx-prism [language]="'scss'">/* You don't need this */</ngx-prism>
                </ui-tab>
            </ui-tab-group>
        </ui-card>

        <h2>API</h2>
        <ui-card>
            <ui-data-table>
                <tbody>
                <tr>
                    <th style="width: 160px">{{translate.labels.attribute}}</th>
                    <th>{{translate.labels.function}}</th>
                </tr>
                <tr class="disabled" *ngFor="let item of translate.button?.attributes">
                    <td>{{item.attribute}}</td>
                    <td>{{item.function}}</td>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </ui-data-table>
        </ui-card>

        <h2>Classes</h2>
        <h3>ui-button-container</h3>
        <ui-card>
            <ui-data-table>
                <tbody>
                    <tr>
                        <th style="width: 160px">Classes</th>
                        <th>{{translate.labels.function}}</th>
                    </tr>
                    <tr class="disabled" *ngFor="let item of translate.buttonContainer?.classes">
                        <td>{{item.name}}</td>
                        <td>{{item.function}}</td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </ui-data-table>
        </ui-card>

        <h3>ui-button</h3>
        <ui-card>
            <ui-data-table>
                <tbody>
                    <tr>
                        <th style="width: 160px">Classes</th>
                        <th>{{translate.labels.function}}</th>
                    </tr>
                    <tr class="disabled" *ngFor="let item of translate.button?.classes">
                        <td>{{item.name}}</td>
                        <td>{{item.function}}</td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </ui-data-table>
        </ui-card>
    </div>
</div>
