<div class="container">
    <div class="ui-s960">
        <h1>Button <a href="https://material.io/guidelines/components/buttons.html"><i
            class="material-icons">link</i></a></h1>
        <p>Os botões comunicam a ação que ocorrerá quando o usuário as toca.</p>
        <br>
        <div class="separator">
            <h3>{{region.button.default}}</h3>
            <p>
                <button class="ui-button">{{region.button.default}}</button>
            </p>
            <code-gits id="GabrielFerreir/307b4ef45b7e3057050f8b2b072b49f5"></code-gits>
        </div>
        <div class="separator">
            <h3>{{region.button.withRipple}}</h3>
            <p>
                <button class="ui-button" uiRipple>{{region.button.withRipple}}</button>
            </p>
            <code-gits id="GabrielFerreir/ab27c3f2666c7d242c1b11b73e9d679b"></code-gits>
        </div>
        <div class="separator">
            <h3>Raised</h3>
            <p>
                <button class="ui-button raised" uiRipple>Raised</button>
            </p>
            <code-gits id="GabrielFerreir/ee9eddfd0110e16fea26de6ca68374f9"></code-gits>
        </div>
        <div class="separator">
            <h3>Flat</h3>
            <p>
                <button class="ui-button flat" uiRipple>Flat</button>
            </p>
            <code-gits id="GabrielFerreir/dd9918a54b1010e4ddf50a90654d59ed"></code-gits>
        </div>
        <div class="separator">
            <h3>Icon</h3>
            <p>
                <button class="ui-button icon" uiRipple>
                    <i class="material-icons">delete</i>
                </button>
            </p>
            <code-gits id="GabrielFerreir/4273d55d20a20c4ddc577183aa4906eb"></code-gits>
        </div>
        <div class="separator">
            <h3>{{region.button.iconWithBadge}}</h3>
            <p>
                <button class="ui-button flat icon" uiRipple>
                    <i class="material-icons">notifications</i>
                    <span class="badge">1</span>
                </button>
            </p>
            <code-gits id="GabrielFerreir/796829973bca3105e9c7d30e34da0d97"></code-gits>
        </div>
        <div class="separator">
            <h3>Full</h3>
            <p>
                <button class="ui-button full" uiRipple>Full</button>
            </p>
            <code-gits id="GabrielFerreir/7c7866b06f794b09b9228aa31e0ad558"></code-gits>
        </div>
        <div class="separator">
            <h3>Primary</h3>
            <p [innerHtml]="region.button.primary"></p>
            <p>
                <button class="ui-button primary" uiRipple>Primary</button>
            </p>
            <code-gits id="GabrielFerreir/d81e9f0d511eedf6bf0b7fc5f62b3ba3"></code-gits>
        </div>
        <div class="separator">
            <h3>Accent</h3>
            <p [innerHtml]="region.button.accent"></p>
            <p>
                <button class="ui-button accent" uiRipple>Accent</button>
            </p>
            <code-gits id="GabrielFerreir/eb4ec5dfc902d2bf36e2e5857ab4199d"></code-gits>
        </div>
        <div class="separator">
            <h3>Success</h3>
            <p [innerHtml]="region.button.success"></p>
            <p>
                <button class="ui-button success" uiRipple>Success</button>
            </p>
            <code-gits id="GabrielFerreir/46232797de5a74d7a6c1ac0e5299a310"></code-gits>
        </div>
        <div class="separator">
            <h3>Warning</h3>
            <p [innerHtml]="region.button.warning"></p>
            <p>
                <button class="ui-button warning" uiRipple>Warning</button>
            </p>
            <code-gits id="GabrielFerreir/b0c0afad6c9537be8c788f58fe00f41a"></code-gits>
        </div>
        <div class="separator">
            <h3>Error</h3>
            <p [innerHtml]="region.button.error"></p>
            <p>
                <button class="ui-button error" uiRipple>Error</button>
            </p>
            <code-gits id="GabrielFerreir/3ce8ff8458299bcc9553b002eff1f22d"></code-gits>
        </div>
        <div class="separator">
            <h3>Demo</h3><br>
            <div class="ui-button-container">
                <button class="ui-button" uiRipple>Default</button>
                <button class="ui-button primary" uiRipple>Primary</button>
                <button class="ui-button accent" uiRipple>Accent</button>
                <button class="ui-button success" uiRipple>Success</button>
                <button class="ui-button warning" uiRipple>Warning</button>
                <button class="ui-button error" uiRipple>Error</button>
                <button class="ui-button" uiRipple disabled>Disabled</button>
            </div>
            <div class="ui-button-container">
                <button class="ui-button raised" uiRipple>Raised</button>
                <button class="ui-button raised primary" uiRipple>Raised Primary</button>
                <button class="ui-button raised accent" uiRipple>Raised Accent</button>
                <button class="ui-button raised success" uiRipple>Raised Success</button>
                <button class="ui-button raised warning" uiRipple>Raised Warning</button>
                <button class="ui-button raised error" uiRipple>Raised Error</button>
                <button class="ui-button raised" uiRipple disabled>Raised Disabled</button>
            </div>
            <div class="ui-button-container">
                <button class="ui-button flat" uiRipple>Flat</button>
                <button class="ui-button flat primary" uiRipple>Flat Primary</button>
                <button class="ui-button flat accent" uiRipple>Flat Accent</button>
                <button class="ui-button flat success" uiRipple>Flat Success</button>
                <button class="ui-button flat warning" uiRipple>Flat Warning</button>
                <button class="ui-button flat error" uiRipple>Flat Error</button>
                <button class="ui-button flat" uiRipple disabled>Flat Disabled</button>
            </div>
            <div class="ui-button-container">
                <button class="ui-button full" uiRipple>Full</button>
            </div>
            <div class="ui-button-container">
                <button class="ui-button primary icon" uiRipple>
                    <i class="material-icons">delete</i>
                </button>
                <button class="ui-button primary raised icon" uiRipple>
                    <i class="material-icons">delete</i>
                </button>
                <button class="ui-button primary flat icon" uiRipple>
                    <i class="material-icons">delete</i>
                </button>
                <button class="ui-button primary flat icon" uiRipple>
                    <i class="material-icons">notifications</i>
                    <span class="badge">1</span>
                </button>
                <button class="ui-button flat icon" uiRipple disabled>
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    </div>
</div>
<!---->
