/* You can add global styles to this file, and also import other style files */
section { margin-bottom: 50px; }

@import "../node_modules/ng-smn-ui/lib/core/core";
@import "../node_modules/ng-smn-ui/lib/core/theme";


$primary: (color: 'blue-grey', hue: '900');
$accent: (color: 'blue', hue: '500');

$theme: ui-theme($primary, $accent);
$theme-dark: ui-theme($primary, $accent, true);

@include ui-core();

@include ui-build-theme($theme);

.dark {
    @include ui-build-theme($theme-dark);
}

.light {
    @include ui-build-theme($theme);
}
