<div class="container">
    <div class="ui-s960">
        <h1>
            Floating Action Button
            <a href="https://material.io/components/buttons-floating-action-button/" target="_blank">
                <i class="material-icons">link</i>
            </a>
        </h1>
        <p>{{translate.introduction}}</p>

        <ui-card class="demo">
            <ui-tab-group [accent]="true" class="fixed">
                <ui-tab label="Demo">
                    <ui-card-content>
                        <div class="ui-flex-container">
                            <button class="ui-button primary fab" uiRipple>
                                <i class="material-icons">add</i>
                            </button>
                            <button class="ui-button error fab mini" uiRipple>
                                <i class="material-icons">close</i>
                            </button>
                        </div>

                        <span class="helper">
                            {{translate.helper}}
                        </span>
                    </ui-card-content>
                </ui-tab>

                <ui-tab label="HTML">
                    <ngx-prism [language]="'html'">{{getHtml()}}</ngx-prism>
                </ui-tab>

                <ui-tab label="TS">
                    <ngx-prism [language]="'typescript'">// You don't need this</ngx-prism>
                </ui-tab>

                <ui-tab label="SCSS">
                    <ngx-prism [language]="'scss'">/* You don't need this */</ngx-prism>
                </ui-tab>
            </ui-tab-group>
        </ui-card>

        <h2>Classes</h2>
        <h3>ui-fab-container</h3>
        <ui-card>
            <ui-data-table>
                <tbody>
                    <tr>
                        <th style="width: 160px">Classes</th>
                        <th>{{translate.labels.function}}</th>
                    </tr>
                    <tr class="disabled" *ngFor="let item of translate.fabContainer?.classes">
                        <td>{{item.name}}</td>
                        <td>{{item.function}}</td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </ui-data-table>
        </ui-card>

        <h3>ui-button</h3>
        <ui-card>
            <ui-data-table>
                <tbody>
                <tr>
                    <th style="width: 160px">Classes</th>
                    <th>{{translate.labels.function}}</th>
                </tr>
                <tr class="disabled" *ngFor="let item of translate.fab?.classes">
                    <td>{{item.name}}</td>
                    <td>{{item.function}}</td>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </ui-data-table>
        </ui-card>
    </div>
</div>

<div class="ui-fab-container">
    <button class="ui-button accent fab mini" uiRipple>
        <i class="material-icons">check</i>
    </button>
    <button class="ui-button primary fab" uiRipple>
        <i class="material-icons">add</i>
    </button>
</div>
