<div class="container">
    <div class="ui-s960">
        <ui-card class="elevate-on-toolbar">
        <h1>SMN UI</h1><br>
        <div *ngIf="region.language === 'pt-br'">
            <h3>Introdução</h3>
            <p>
                Depois de bastante tempo dedicado por diversos colaboradores foi desenvolvido este módulo para Angular.
            </p>
            <p>
                Temos como objetivo facilitar o desenvolvimento de sistemas em Angular e como foco ser utilizado
                internamente na empresa de desenvolvimento de softwares
                <a href="http://smn.com.br/">SMN</a>, mas disponível também para o público através de seu repositório no
                <a href="https://github.com/smn-official/ng-smn-ui">GitHub</a> e pacote
                <a href="https://www.npmjs.com/package/ng-smn-ui">NPM</a>.
            </p>
            <p>
                Este módulo contém componentes seguindo as diretrizes do <a href="https://material.io/guidelines">Material
                Design</a> e outras utilidades (que são usadas internamente e disponíveis para serem usadas
                externamente).
            </p>
            <p>
                Neste site se encontra a documentação e exemplos do uso dos componentes e utilidades.
            </p>
            <p>
                <i>
                    Desenvolvido pela <a href="http://smn.com.br/">SMN</a>.<br>
                </i>
            </p>

            <h3>Instalação</h3>
            <p>
                1. Abra a pasta do seu projeto Angular através do CMD ou do GitBash e digite a seguinte linha de
                comando:
            </p>
            <pre>
npm install ng-smn-ui --save
            </pre>

            <p>
                2. Importe o SMN-UI e o CUSTOM_ELEMENTS_SCHEMA ao seu modulo principal.
            </p>
            <pre>
import &#x0007B; SMNUIModule &#x0007D; from 'ng-smn-ui';
...
    imports: [
        ...
        SMNUIModule
    ]
...
  schemas: [
        CUSTOM_ELEMENTS_SCHEMA
    ]
...
            </pre>
            <p>
                3. Insira os dados sobre o tema a ser utilizado seu arquivo styles.scss.
            </p>
            <pre>
@import "~ng-smn-ui/core/core"
@import "~ng-smn-ui/core/theme"

$primary: (color: 'blue', hue: '500')
$accent: (color: 'green', hue: '50')

$theme: ui-theme($primary, $accent)
$theme-dark: ui-theme($primary, $accent, true)

@include ui-core()

@include ui-build-theme($theme)
            </pre>
            <p>
                4. No seu head do seu arquivo 'index.html' insera as fontes Roboto e Material Icons.
            </p>
            <pre>
&lt;link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic" rel="stylesheet" type="text/css"&gt;
    &lt;link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/&gt;
            </pre>
            <p>
                4. Pronto. Agora você pode utilizar o SMN-UI no seu projeto.
            </p>
            <br><br><br><br><br>
        </div>
        <div *ngIf="region.language === 'en-us'">
            <h3>Introduction(Em construção)</h3>
            <p>
                After a long time of dedication from several collaborators it was developed this module for Angular.
            </p>
            <p>
                We have as objective facilitate the development of systems with Angular and focusing on being used
                internally on the company of software development
                <a href="http://smn.com.br/">SMN</a>, but it is also available for the public on its repository at
                <a href="https://github.com/smn-official/ng-smn-ui">GitHub</a> and on the
                <a href="https://www.npmjs.com/package/ng-smn-ui">NPM</a> package.
            </p>
            <p>
                This module contains components following the <a href="https://material.io/guidelines">Material
                Design</a> guidelines and other utilities (that are used internally and also available for being used
                externally).
            </p>
            <p>
                On this website you can find the documentation and examples of the use of the components and utilities.
            </p>
            <p>
                <i>
                    Developed by <a href="http://smn.com.br/">SMN</a>.<br>
                </i>
            </p>
            <h3>Installation</h3>
            <p>
                1. Open the directory of your project Angular through CMD or GitBash and type the following command
                line:
            </p>
            <pre>
    npm install ng-smn-ui --save
</pre>
            <p>
                2. Open the file <b>*.module.ts</b> of your project and import the SMN UI.
            </p>
            <pre>
    import {{'{'}}SMNUIModule{{'}'}} from 'ng-smn-ui';
</pre>
            <p>
                3. Still on the file <b>*.module.ts</b> of your project, inject the SMN UI inside your module on the
                section
                <b>imports</b>.
            </p>
            <pre>
    ...
        ],
        imports: [
            BrowserModule,
            SMNUIModule
        ],
        providers: [
    ...
</pre>
            <p>
                4. Done. The SMN UI is already available to be used on your project.
            </p>
        </div>
        </ui-card>
    </div>
</div>
<!---->
