@import '~ng-smn-ui/core/variables';

:host {
    color: ui-color('grey', '700');

    .container {
        margin: 0 10px;
        cursor: default;
    }

    h1 {
        margin-top: 50px;
    }

    .focus {
        color: #000;
    }

    .separator {
        margin-bottom: 20px;
    }

    pre {
        overflow-x: auto;
    }
}
