<div class="container">
    <div class="ui-s960 elevate-on-toolbar">
        <h1>SMN UI</h1><br>
        <div>
            <h3>{{translate.introduction.title}}</h3>
            <p [innerHTML]="translate.introduction.firstParagraph"></p>
            <p [innerHTML]="translate.introduction.secondParagraph"></p>
            <p>{{translate.introduction.thirdParagraph}}</p>
            <p [innerHTML]="translate.introduction.footer"></p>

            <h3>{{translate.installation.title}}</h3>
            <p>{{translate.installation.firstStep}}</p>
            <ngx-prism [language]="'bash'">npm install --save ng-smn-ui</ngx-prism>
            <p [innerHTML]="translate.installation.secondStep"></p>
            <ngx-prism [language]="'typescript'">{{getStep2()}}</ngx-prism>
            <p [innerHTML]="translate.installation.thirdStep"></p>
            <ngx-prism [language]="'scss'">{{getStep3()}}</ngx-prism>
            <p [innerHTML]="translate.installation.fourthStep"></p>
            <ngx-prism [language]="'html'">{{getStep4()}}</ngx-prism>
            <p>{{translate.installation.footer}}</p>
            <br><br><br><br><br>
        </div>
    </div>
</div>
