<div class="container">
    <div class="ui-s960">
        <h1>Autocomplete <a href="#"><i
            class="material-icons">link</i></a></h1>
        <br>

        <div class="separator">
            <h3>
                Atributos
            </h3><br>
            <pre>
    modelValue: Pega o valor selecionado.

    list: Lista de opções para o select (pode ser um array de strings ou um array de objetos).

    loading: Utilizado para controlar a barra de carregamento do select.

    select: Dispara um evento após a seleção de um item.

    loadMore: Evento disparado quando o scroll do autocomplete chega perto do final da barra de rolagem.

    theme-class: Usado para definir o tema.

    primary*: Utilizado para definir o item principal do autocomplete.

    secondary*: Utilizado para definir o item secundario do autocomplete.

    *list deve ser um array de objetos
            </pre>
        </div> <!-- Atributos -->

        <div class="separator">
            <h3>Simples</h3>
            <div class="separator">
                <code-gits id="GabrielFerreir/dd086285497c3f7ccbd140f84c09eefc"></code-gits>
            </div> <!-- HTML -->
            <div class="separator">
                <code-gits id="GabrielFerreir/7116cc670c434841a8f977493f11ca80"></code-gits> <!-- JS -->
            </div> <!-- JS -->
            <div class="separator">
                <ui-input-container>
                    <input type="text"
                           [(ngModel)]="searchTeams"
                           [(modelValue)]="valueTeam"
                           uiInput
                           uiAutocomplete
                           (input)="search()"
                           (focus)="search()"
                           [list]="teamsFiltrados"
                           [loading]="loading"
                           [select]="finish.bind(this)">
                    <label>Clubes</label>
                </ui-input-container>
            </div> <!-- DEMO -->
        </div> <!-- DEMO 01 -->

        <div class="separator">
            <h3>Com dois atributos</h3>
            <div class="separator">
                <code-gits id="GabrielFerreir/8c99c0aea8f0a44a9272d0a338e91537"></code-gits>
            </div> <!-- HTML -->
            <div class="separator">
                <code-gits id="GabrielFerreir/9bd63a4176311d190507983c6e7e569d"></code-gits>
            </div> <!-- JS -->
            <div class="separator">
                <ui-input-container>
                    <input type="text"
                           [(ngModel)]="searchActors"
                           [modelValue]="selectValue"
                           uiInput
                           class="accent"
                           uiAutocomplete
                           (input)="searchActor()"
                           (focus)="searchActor()"
                           [primary]="'actor'"
                           [secondary]="'character'"
                           theme-class="dark"
                           [list]="actorsFiltred"
                           [loading]="loading2">
                    <label>Personagens</label>
                </ui-input-container>
            </div> <!-- DEMO -->
        </div> <!-- DEMO 02 -->

        <div class="separator">
            <h3>Com loadmore</h3>
            <div class="separator">
                <code-gits id="GabrielFerreir/d0c92388e5d5bf5e898f4b5e2ce7b50f"></code-gits>
            </div>
            <div class="separator">
                <code-gits id="GabrielFerreir/49cae5976ba4a7cb1f57b7cf8efb70f0"></code-gits>
            </div>
            <div class="separator">
                <ui-input-container>
                    <input type="text"
                           [(ngModel)]="searchObject"
                           [modelValue]="objectValue"
                           uiInput
                           uiAutocomplete
                           class="accent"
                           (input)="searchObjects()"
                           (focus)="searchObjects()"
                           (loadMore)="loadMoreObjects()"
                           [list]="objectsFiltred"
                           [loading]="loading3"
                    >
                    <label>Objetos</label>
                </ui-input-container>
            </div>
        </div> <!-- DEMO 03 -->
    </div>
